{% extends "base.html" %}

{% block extrahead %}
<script>
  // @see https://docs.headwayapp.co/widget for more configuration options.
  var HW_config = {
    selector: ".hw-badge", // CSS selector where to inject the badge
    account:  "7zrlR7"
  }
</script>
<!-- <script async src="http://cdn.headwayapp.co/widget.js"></script> -->
<script async src="/javascripts/headway-widget.js"></script>


<!-- Gurubase Widget -->
<script async src="https://widget.gurubase.io/widget.latest.min.js"
  defer
  data-widget-id="cTWHFC_DlXs72SaofZxey6rO7bPeLru9U_CgKpw9Wg8"
  data-text="Ask AI"
  data-margins='{"bottom": "0.6rem", "right": "1rem"}'
  data-light-mode="auto"
  id="guru-widget-id">
</script>

<!-- widget IDs -->
<!-- data-widget-id="4DCNV_wUJvZbaJGIR3SjkWEfvd2scWuhF5KCVvif_HY" -->
<!-- data-widget-id="cTWHFC_DlXs72SaofZxey6rO7bPeLru9U_CgKpw9Wg8" -->
<!--  -->

{% endblock %}