site_name: kima
repo_url: https://github.com/kima-org/kima
site_url: "https://www.kima.science"

docs_dir: docs
edit_uri: ""

theme:
  name: material
  logo: assets/logo_transparent_small.png
  favicon: assets/favicon.ico
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      accent: green
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - search.suggest
    - search.share
    - navigation.instant
    # - navigation.tabs
    - navigation.sections
    # - navigation.expand
    - navigation.indexes
    # - toc.integrate 
    #- navigation.top
    - navigation.prune
    - content.code.annotate
    - content.code.copy
    - content.tabs.link




nav:
  - Welcome: docs/index.md
  - docs/installation.md
  - docs/getting-started.md
  - docs/data.md
  - docs/models.md
  - Examples:
    - docs/examples/index.md
    - 51Peg: docs/examples/51Peg.ipynb
    - multi_instrument: docs/examples/multi_instrument.ipynb
    - transiting_planet: docs/examples/transiting_planet.ipynb
    - jitter_rhk: docs/examples/jitter_rhk.ipynb
    - Circumbinary: docs/examples/TIC172900988.ipynb
    - Gaia_BH3: docs/examples/GaiaBH3.ipynb

  - API:
    - docs/API/index.md
    - kima: docs/API/kima.md
    - pykima: docs/API/pykima.md

  - docs/troubleshooting.md
  - Contributing: docs/contributing.md
#   - Building Models:
#     - building-models/index.md
#     - building-models/general-settings.md
#   #   - Page 1: section/page-1.md
#   #   ...
#   #   - Page n: section/page-n.md


plugins:
  - search
  - mkdocs-jupyter
  - include-markdown
  - mkdocstrings:
      handlers:
        python:
          paths: [../src/kima]
          options:
            merge_init_into_class: true
            show_source: false
            members_order: "source"
      #       filters:
      #         - "!^_"
      #         - "!__"
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: false

markdown_extensions:
  - attr_list
  - md_in_html
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - admonition
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      title: On this page

extra_javascript:
  - javascripts/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js


extra_css:
  - stylesheets/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css


watch:
  - overrides


copyright: Copyright © 2018 - 2025 João Faria
